.heading--bar {
  height: max(12vh, 200px);
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team--title {
  height: 100%;
  display: grid;
  place-items: center;
}
