.background {
  background-image: url("https://picsum.photos/600/900");
  background-size: cover;
  height: 100vh;
}

.login_container {
  padding: 15rem 10rem;
  background: var(--darkener-color);
  height: 100%;
}

.content_container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  border-radius: 4px;
}

/* logo container */
.logo_container {
  flex-basis: 50%;
  height: 100%;
  text-align: left;
  color: #fff;
  display: grid;
  place-items: center;
}

.far {
  font-size: 5rem;
  margin-bottom: 1rem;
}

/* input container */
.codeInput_container {
  flex-basis: 50%;
  max-width: 50%;
  background: #fff;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  border-radius: 4px;
}

.codeInput_container h2 {
  padding-bottom: 3rem;
  text-align: left;
}

.codeInput_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: inherit;
}

/* Remove Arrows/Spinners from inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
