.navbar {
  position: relative;
  height: max(12vh, 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.navbar a {
  color: var(--main-color);
}

.navbar a:hover {
  color: var(--theme-color);
  transition: all 0.3s ease-in-out;
}

.button--logout:hover {
  background: var(--theme-color);
  color: #000;
}
