.details--container {
  min-height: 100vh;
  background: var(--main-color);
  width: 100%;
  color: #fff;
  text-shadow: 1px 2px #000;
}

.heading--bar {
  position: relative;
  height: max(12vh, 200px);
}

.button--back {
  position: absolute;
  top: calc(max(6vh, 100px) - 3.5rem);
  right: 2rem;
  background: #fff;
  color: var(--main-color);
  width: 7rem;
  height: 7rem;
  border-radius: 50% !important;
  padding: 1rem !important;
  display: grid;
  place-items: center;
}

.button--back:hover {
  color: #fff;
  font-weight: bold;
}

.team--title {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  color: #fff;
  display: grid;
  place-items: center;
}

.flex--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--darkener-color);
}

.logo--container {
  flex-basis: 40%;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  flex-direction: column;
  color: #000;
}

.details--container img {
  width: 100%;
  min-width: 250px;
  background: #fff;
}

.content--container {
  flex-basis: 60%;
  padding: 1rem 2rem;
  font-size: max(2rem, 1.5vw);
  text-align: left;
}

.field--info {
  margin-bottom: 1rem;
}

.field--info span:nth-child(1) {
  color: gray;
  text-transform: uppercase;
}
