.details--container {
  min-height: 100vh;
  background: var(--main-color);
  width: 100%;
  color: #fff;
  text-shadow: 1px 2px #000;
}

.flex--container {
  display: flex;
  flex-wrap: wrap;
  background: var(--darkener-color);
}

@media screen and (max-width: 690px) {
  .flex--container {
    flex-direction: column;
  }
}
