.footer--container {
  padding: 40px 0;
  background-color: var(--main-color);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.social a {
  background: #fff;
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 1px solid #ccc;
  margin: 1rem;
}

.social a:hover {
  background: #fff;
  opacity: 0.9;
  transform: scale(1.5);
  transition: all 0.2s ease-out;
}

.list--items {
  list-style: none;
  font-size: 2rem;
}

.list--items a {
  color: var(--darkener-color);
  opacity: 0.8;
  margin: 0.5rem;
  display: inline-block;
}

.footer--container ul a:hover {
  opacity: 1;
  color: #fff;
  transition: all 0.1s ease;
  letter-spacing: 0.2rem;
}

.list-inline li a {
  color: var(--theme-color);
}

.footer--container .copyright {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 0;
}
