.footer-basic {
  padding: 40px 0;
  background-color: var(--main-color);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
}

.footer-basic li {
  padding: 0 1rem;
  color: var(--dark-secondary-color);
}

.footer-basic ul a {
  text-shadow: 0.5px 0.5px var(--darkener-color);
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
  color: #fff;
  transition: all 0.1s ease;
  letter-spacing: 0.2rem;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  background: #fff;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
  transform: scale(1.5);
  transition: all 0.2s ease-in;
}

.footer-basic .copyright {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 0;
}
