.SearchTeam--container {
  width: 70%;
  margin: auto;
}

form {
  position: relative;
}

.search--input {
  width: 100%;
  border-radius: 50px;
  background: var(--main-color);
  font-size: 2.5rem;
  border: none;
  color: #fff;
  text-shadow: 1px 2px #333;
  box-shadow: 0 4px 8px var(--darkener-color);
  padding-right: 14%;
  outline-width: 0ch;
}

form:hover .search--input {
  border-color: transparent;
  box-shadow: 0 0 20px -5px var(--main-color);
  transition: all 0.3s ease-in-out;
}

.button--search {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 5px 0 #333;
  color: #fff;
  background: var(--darkener-color);
  font-size: 1.6rem;
  margin: 0;
}

.button--search:hover {
  transition: all 0.6s ease-in-out;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .search--input {
    padding-right: 0;
  }

  .button--search {
    position: relative;
    width: 100%;
    font-size: 2rem;
    margin: 0.5rem auto;
    padding: 1.4rem;
    font-size: 2.5rem;
  }

  .button--search:hover {
    background: var(--secondary-color);
  }
}
