.game--details--container {
  flex-basis: 60%;
}

.game--details--container button {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.teams {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}
