:root {
  --theme-color: #9aadf4;
  --main-color: #728ceb;
  --secondary-color: #ffc746;
  --third-color: #ffd26a;
  --fourth-color: #ffde94;
  --darkener-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: monospace, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-size: 1.6rem; /* 16px */
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* utils */
.container {
  max-width: 1200px;
  margin: auto;
  position: inherit;
}
