:root {
  --main-color: #5680e9;
  --theme-color: #84ceeb;
  --secondary-color: #8860d0;
  --dark-secondary-color: purple;
  --darkener-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: monospace, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #333;
  font-size: 1.6rem; /* 16px */
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* utils */
.container {
  max-width: 1200px;
  margin: auto;
  border: 1px solid black;
  position: inherit;
}
