.logo--container {
  flex-basis: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  padding-left: 2rem;
}

.details--buttons {
  display: flex;
  justify-content: space-between;
}

.logo--container button {
  margin-top: 1rem;
}

.logo--container img {
  width: 100%;
  min-width: 250px;
  background: #fff;
  margin: 2rem 0;
}

@media screen and (max-width: 690px) {
  .logo--container {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }

  .details--buttons {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }

  .logo--container button {
    height: 100%;
  }

  .logo--container img {
    width: 50%;
  }
}
